<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rowland.qrdecoder">

    <!-- Vibration permission -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Camera Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Required features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_scan"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>
    </application>

</manifest>
